h1 List of all classrooms

a(href='/classrooms/new') New Classroom

ul
  each classroom in classrooms
    li= classroom.name + " has " + classroom.numberOfSeats + " seats in it."
    a(href='/classrooms/#{classroom._id}') See Details
