h1 Details for classroom #{classroom.name}

a(href='/classrooms') See all the classrooms

p This classroom seats #{classroom.numberOfSeats}

if classroom.hasKeg
  p This classroom has a Keg
else
  p This classroom does not have a Keg

a(href='/classrooms/#{classroom.id}/edit') Edit this classroom
